@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* BASIC RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  font: inherit;
  text-decoration: none;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* COLORS VARIABLE */
:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
  --Pink: hsl(322, 100%, 66%);
}

body {
  font-family: "Poppins", sans-serif;
  background: url(./images/bg-mobile.svg) var(--Violet) no-repeat top left / cover;
  color: hsl(0, 0%, 100%);
}

/* POSITION */
.container {
  padding: 0 2.3rem;
  margin-inline: auto;
  max-width: 37.5rem;
  max-width: 500px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HEADER */
.header-content {
  text-align: left;
  margin-top: 2.375rem;
  margin-bottom: 4.375rem;
}

.logo {
  width: 7.5rem;
}

/* MAIN CONTENT */
h2 {
  font-size: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
}

p {
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  font-family: "Open Sans", sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-bottom: 4rem;
}

.image-content {
  margin-inline: auto;
}

.text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* FOOTER */
.footer-content {
  gap: 0.625rem;
  margin-bottom: 2.5rem;
}

/* BUTTONS */
.icons {
  height: 1.75rem;
  width: 1.75rem;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
  transform: 0.2s;
}

.icons:hover {
  color: var(--Pink);
  border-color: var(--Pink);
  transform: translateY(1px);
}

.btn {
  background-color: hsl(0, 0%, 100%);
  color: var(--Violet);
  font-size: clamp(0.75rem, 0.618rem + 0.5634vw, 1.125rem);
  line-height: 2.5rem;
  width: 12.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.27);
  margin-top: 0.5rem;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--SoftMagenta);
  color: hsl(0, 0%, 100%);
}

.sr-only:not(:focus):not(:active) {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 1100px) {
  body {
    background: url(./images//bg-desktop.svg) var(--Violet) no-repeat top left / cover;
  }

  .container {
    padding: 0 5rem;
    max-width: 90rem;
  }

  .header-content {
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
  }

  .logo {
    width: 12.5rem;
  }

  .main-content {
    flex-direction: row;
    align-items: start;
    margin-bottom: 1.56rem;
  }

  .text-content {
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 2rem;
    max-width: 32.5rem;
    text-align: left;
    flex-basis: 43%;
  }

  .image-content {
    max-height: 493px;
  }

  .btn {
    border-radius: 1.75rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-top: 0;
  }

  .footer-content {
    gap: 1rem;
    justify-content: flex-end;
  }

  .icons {
    height: 2.5rem;
    width: 2.5rem;
  }

  .fa-brands {
    transform: scale(1.2);
  }
}
